# Server
PORT=8080
ENV=development

# Database
DATABASE_URL=postgres://laundryos:laundryos_secret@localhost:5432/laundryos?sslmode=disable

# JWT
JWT_SECRET=your-super-secret-key-min-32-chars-long
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=168h

# Midtrans
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_SERVER_KEY=Bb8d47daa2e237fc6f96c9d5e6d14fXXXX
MIDTRANS_CLIENT_KEY=SB-Mid-client-abc123def456XXXX

# CORS
CORS_ORIGIN=http://localhost:3000
